<p id="notice"><%= notice %></p>

<h1>Gr Crds</h1>

<table>
  <thead>
    <tr>
      <th>G nam1</th>
      <th>G name2</th>
      <th>G idnum</th>
      <th>G photo</th>
      <th>G title</th>
      <th>G email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gr_crds.each do |gr_crd| %>
      <tr>
        <td><%= gr_crd.g_nam1 %></td>
        <td><%= gr_crd.g_name2 %></td>
        <td><%= gr_crd.g_idnum %></td>
        <td><%= gr_crd.g_photo %></td>
        <td><%= gr_crd.g_title %></td>
        <td><%= gr_crd.g_email %></td>
        <td><%= link_to 'Show', gr_crd %></td>
        <td><%= link_to 'Edit', edit_gr_crd_path(gr_crd) %></td>
        <td><%= link_to 'Destroy', gr_crd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gr Crd', new_gr_crd_path %>
