<p id="notice"><%= notice %></p>

<p>
  <strong>G nam1:</strong>
  <%= @gr_crd.g_nam1 %>
</p>

<p>
  <strong>G name2:</strong>
  <%= @gr_crd.g_name2 %>
</p>

<p>
  <strong>G idnum:</strong>
  <%= @gr_crd.g_idnum %>
</p>

<p>
  <strong>G photo:</strong>
  <%= @gr_crd.g_photo %>
</p>

<p>
  <strong>G title:</strong>
  <%= @gr_crd.g_title %>
</p>

<p>
  <strong>G email:</strong>
  <%= @gr_crd.g_email %>
</p>

<%= link_to 'Edit', edit_gr_crd_path(@gr_crd) %> |
<%= link_to 'Back', gr_crds_path %>
